/* mobile phones <500, 500<tablet<1000, desktop>1000 */
/* mobile first development */

header{
	background-color: orange;
	display: flex;
	padding: 20px;
}

.profileWrapper {
	min-width: 200px;
	/* note that height = content height plus vertical padding
	since we dont hv any content height in the div, adding vertical
	padding = adding height, thus padding-top= height; */
    padding-top: 22%; /* Same as width to maintain aspect ratio */
    position: relative; /* Required for absolute positioning */
    border-radius: 50%; /* Circular shape */
    overflow: hidden; /* Ensures the image doesn't overflow the container & form sq*/
	margin-right: 50px;
}

.profilePic{
	position: absolute;
	/* need to specify position to ensure no unexpected behaviour & make element position relative to nearest positioned ancestor */
	top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	/* this property edits the photo to fit while maintaining aspect ratio */
	object-fit: cover;
}

header section{
	background-color: white;
	opacity: 0.8;
	padding: 10px;
	border-radius: 5px;
}
main{
	background-color: white;
}
main>section{
	width: 80%;
	margin: auto;
	padding: 10px;
}

main h2{
	text-align: center;
	margin-bottom: 20px;
}
.project_cards{
	display: grid;
	grid-template-columns:repeat(auto-fit,minmax(230px, 1fr)) ;
	justify-content: center;
	gap: 50px;
	margin-bottom: 50px;
}

.card{
	/* margin-bottom: 50px; */
	box-shadow: 0 10px 18px 3px grey;
	min-height: 230px;
	border-radius: 5px;
	margin: 0 auto;
}

.project_cards .card{
	width: 230px
}

.project_screenshot{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
}
.project_screenshot.one{
	background-color: red;
}
.project_screenshot.two{
	background-color: green;
}
.project_screenshot.three{
	background-color: yellow;
}
.project_screenshot.four{
	background-color: blue;
}
.project_screenshot.five{
	background-color: orange;
}
.project_screenshot.six{
	background-color: purple;
}

.card_heading{
	display: flex;
	justify-content:space-around;
	align-items: center;
}

section img{
	height: 15px;
	width: auto;
}

.card>p{
	text-align: center;
}

footer{
	background-color: orange;
	display: flex;
	justify-content: space-around;
	padding: 20px 50px;
	color: white;
	font-size: 1.1rem;
	font-weight: 600;
}
#contact_info{
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 1.8rem;
	font-weight: 700;
}
footer p:nth-child(1), footer p:nth-child(3), footer p:nth-child(4), footer p:nth-child(5){
	margin-bottom: 15px;
}

.picture_wrapper{
	margin-left: 30px;
	max-width: 50%;
	position: relative;
	overflow: hidden;
}

footer img{
	width: 100%;
	height: auto;
	object-fit: cover;
}

@media (width <= 500px){
	header{
		flex-direction: column;
	}

	.profileWrapper{
		width: 100%;
		margin-bottom: 30px;
		border-radius: 0;
		min-width: 100%;
		min-height: 250px;
	}
	footer{
		flex-direction: column;
		padding: 20px 0 0 0;
		text-align: center;
		overflow: hidden;
	}
	.picture_wrapper{
		max-width: 100%;
		height:100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-left: 0;
		margin-bottom: 0;
	}
	.picture_wrapper>.footer_img{
		width: 100%;
		height: auto;
	}
}