/* mobile phones <500, 500<tablet<1000, desktop>1000 */
/* mobile first development */

header{
	background-color: orange;
	display: flex;
	padding: 20px;
}

.profileWrapper {
	min-width: 200px;
    width: 20%; /* Responsive width */
	/* note that height = content height plus vertical padding
	since we dont hv any content height in the div, adding vertical
	padding = adding height, thus padding-top= height; */
    padding-top: 22%; /* Same as width to maintain aspect ratio */
    position: relative; /* Required for absolute positioning */
    border-radius: 50%; /* Circular shape */
    overflow: hidden; /* Ensures the image doesn't overflow the container & form sq*/
	margin-right: 50px;
}

.profilePic{
	position: absolute;
	/* need to specify position to ensure no unexpected behaviour & make element position relative to nearest positioned ancestor */
	top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	/* this property edits the photo to fit while maintaining aspect ratio */
	object-fit: cover;
}

header section{
	background-color: white;
	opacity: 0.8;
	padding: 10px;
	border-radius: 5px;
}
main{
	background-color: white;
}
.project_cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
	margin-bottom: 50px;
}

.card{
	/* margin-bottom: 50px; */
}

.project_cards section{
	width: 230px
}

.project_screenshot.one{
	background-color: red;
	height: 50%;
}
.project_screenshot.two{
	background-color: green;
	height: 50%;
}
.project_screenshot.three{
	background-color: yellow;
	height: 50%;
}
.project_screenshot.four{
	background-color: blue;
	height: 50%;
}
.project_screenshot.five{
	background-color: orange;
	height: 50%;
}
.project_screenshot.six{
	background-color: purple;
	height: 50%;
}


.card_heading{
	display: flex;
	justify-content:space-between;
}

section img{
	height: 15px;
	width: auto;
}

footer{
	background-color: orange;
}